<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi presentación</title>
    <link rel="stylesheet" href="../statics/styles/index.css">
    <head>
        <title>Presentación</title>
    </head>
    <body>
        <header>
            <img id="header" src="../statics/img/yourname.jpg" alt="Muralla snk">
        </header>  
        <img id="foto" src="../statics/img/ilse.jpg" alt="Yo con una bicicleta xd">
        <aside class="col_izq">
            <p class="bienvenida">Wenasssss</p>
            <p class="tit_gen">Acerca de mi . . .</p>
            <hr class="linea">
        <p class="texto1">Mi nombre es <strong>Ilse Andrea Baños Mancilla</strong>, me gusta que me digan Ilse, Ishe o Ishini. Tengo 18 años y mi cumpleaños es el <strong>28 de abril</strong>. Lo que mas me gusta hacer es andar en bici <i>(principalmente en montes o peñas)</i> y escuchar música, ya sea rock en español, pop en inglés, j-rock, lo-fi, cumbias, banda o unas baladas bien 
        romanticonas. Soy <strong>team frío</strong> porque el calor me estresa y <strong>team horchata</strong> porque la horchata es sagrada.</p>
        <p class="titulo2">Mis pasatiempos:</p>
        <table class="tabla">
            <tr class="columnas">
                <td class="cuadro">Ver anime</td>
                <td class="cuadro">Jugar videojuegos</td>
                <td class="cuadro">Dibujar</td>
            </tr>
            <tr class="columnas">
                <td class="cuadro">Cantar</td>
                <td class="cuadro">Tejer</td>
                <td class="cuadro">Bailar</td>
            </tr>
        </table>
        <br>
        <p class="titulo2">Algunos datos random sobre mi . . .</p>
        <ul class="random">
            <li class="texto2">Me gusta imitar el acento argenitno porque es facherito.</li>
            <li class="texto2">Tengo una perrita llamada Trufa que está mal cableada porque muerde piedras hasta partirlas.</li>
            <li class="texto2">Me gusta leer historias de terror, pero no me gusta ver películas de terror. Que caray.</li>
            <li class="texto2">Una vez que salí en bici al monte, un mosco se metió a mi ojo y me hizo perder la concentración que me fui a estrellar contra un árbol xd.</li>
        </ul>
        </aside>
        <section class="col_der">
            <p class="tit_gen">Mis gustos . . .</p>
            <div class="alineacion1">
                <p class="titulo1">Top 3 crushes</p>
                    <ol class="l1">
                        <li class="lista1">Lucas Jade Zumann</li>
                        <li class="lista1">Sam Claflin</li>
                        <li class="lista1">Louis Partridge</li>
                    </ol>
            </div>
            <div class="alineacion2">
                <p class="titulo1">Top 3 películas</p>
                    <ol class="l1">
                        <li class="lista1">Ready Player One</li>
                        <li class="lista1">El increíble castillo vagabundo</li>
                        <li class="lista1">Orgullo y prejuicio</li>
                    </ol>
            </div>
            <div class="alineacion3">
                <p class="titulo1">Canciones favoritas del momento</p>
                    <ul class="l1">
                        <li class="lista3"><a class="lista3" href="https://youtu.be/wyDiNI4h03E" target="_blank">Lejos de ti - Los askis</a></li>
                        <li class="lista3"><a class="lista3" href="https://youtu.be/7AgqVntkTHc" target="_blank">Amores lejanos - Los Enanitos Verdes</a></li>
                        <li class="lista3"><a class="lista3" href="https://youtu.be/aIIf3-R-lJc" target="_blank">Buenos Aires - Naty Peluso</a></li>
                    </ul>
        </div>
        <div class="alineacion4">
            <p class="titulo1">Canciones favoritas</p>
                <ol class="l2" type="a">
                    <li class="lista2">Canciones de mi infancia</li>
                        <ul class="l2" type="square">
                            <li class="lista3"><a class="lista3" href="https://youtu.be/MDz4a9AlQ94" target="_blank">Take on the world</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/SuKbG1wC_WI" target="_blank">Hombres de acción</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/6UxHrhUdwMs" target="_blank">No hablaré</a></li>
                        </ul>
                    <li class="lista2">Canciones en español</li>
                        <ul class="l2"type="square">
                            <li class="lista3"><a class="lista3" href="https://youtu.be/UK1aB9-Pstw" target="_blank">Fuera del mercado</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/29PIDSCWmQE" target="_blank">La célula que explota</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/A-JIjV7pKC8" target="_blank">Molinos de viento</a></li>
                        </ul>
                    <li class="lista2">Canciones en inglés</li>
                        <ul class="l2" type="square">
                            <li class="lista3"><a class="lista3" href="https://youtu.be/mQmOZX-8EZI" target="_blank">Safe and sound</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/BhMC23ll2Rk" target="_blank">Kiss me more</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/zTFBJgnNgU4" target="_blank">Charlie Brown</a></li>
                        </ul>
                    <li class="lista2">Canciones en japonés</li>
                        <ul class="l2" type="square">
                            <li class="lista3"><a class="lista3" href="https://youtu.be/gdALbcVfD0g" target="_blank">Snow fairy</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/pFdov9WOjTA" target="_blank">Vivid vice</a></li>
                            <li class="lista3"><a class="lista3" href="https://youtu.be/0nd0WplO_rE" target="_blank">Kyouran hey kids</a></li>
                        </ul>
                </ol>
        </div>
        <div class="alineacion5">
            <p class="titulo1">Mi top 3 de temas del CW</p>
            <ol class="l2" type="1">
                <li class="lista1">css</li>
                <li class="lista1">php</li>
                <li class="lista1">Git</li>
            </ol>
        </div>  
        </section>
    </body>
</html>
