body{
    background-color: #f8c5bf ;
}

#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
}

#contenedor{
    display:block;
    margin: auto;
    margin-top: 10%;
    background-color: #ececec;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    align-items: center;
    text-align: center;
}

.escribir{
    border-radius: 7px;
    width: 300px;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin: auto;
    margin-top: 15px;
}

#agregar{
    border-radius: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    background-color: #C39BD3;
    border: none;
}

#materia{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    
}


#tareas{
    margin-top: 15px;
    /*background-color: #C39BD3;*/
    border-radius: 10px;
}

#opciones-mat{
    display: flex;
}

#otro{
    display: flex;
    font-weight: bold;
    order: 1;
}
/*#FAD7A0*/

.info{
    padding: 5px;
    margin-top: 15px;
    /*display: flex;*/
    background-color: #e6d0f1;
    border-radius: 10px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.eliminar{
    background-color: #8E44AD;
    color: white;
    position: relative;
    border-radius: 8px;
    text-align: justify;
    border: none;
    height: auto;
    padding: 5px;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.completado{
    background-color: #8E44AD;
    color: white;
    position: relative;
    border-radius: 8px;
    text-align: justify;
    border: none;
    height: auto;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.noCompletado{
    background-color: #8E44AD;
    color: white;
    position: relative;
    border-radius: 8px;
    text-align: justify;
    border: none;
    height: auto;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contador{
    margin-top: 25px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;

}
